body {
  background: #f7861c;
  font-family: "Irish Grover", cursive;
}

h1 {
  text-align: center;
  font-size: 4em;
}

ul {
  box-sizing: border-box;
  width: 85%;
  border: 3px solid #0dc9ebb4;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(
    225deg,
    rgba(253, 29, 29, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
}
.Card {
  width: 350px;
  display: flex;
  margin: 1rem;
  flex-direction: row;
  background-color: brown;
  border: 2px solid #a2a5a2b4;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 3px 3px teal;
}
.Card div p:nth-child(1) {
  font-weight: bold;
}
.Card:hover {
  box-shadow: inset 3px 3px teal, 3px 3px teal;
}
p {
  color: bisque;
}
#SubTitle {
  text-align: center;
}
#SubTitle p {
  color: black;
  font-size: 2em;
}
p span {
  color: black;
}
